{% extends 'base_1.html' %}
{% block content %}
<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container">
								<!--begin::Notice-->
								<div class="alert alert-custom alert-white alert-shadow gutter-b" role="alert">
									<div class="alert-icon">
										<span class="svg-icon svg-icon-primary svg-icon-xl">
											<!--begin::Svg Icon | path:assets/media/svg/icons/Tools/Compass.svg-->
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
												<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
													<rect x="0" y="0" width="24" height="24" />
													<path d="M7.07744993,12.3040451 C7.72444571,13.0716094 8.54044565,13.6920474 9.46808594,14.1079953 L5,23 L4.5,18 L7.07744993,12.3040451 Z M14.5865511,14.2597864 C15.5319561,13.9019016 16.375416,13.3366121 17.0614026,12.6194459 L19.5,18 L19,23 L14.5865511,14.2597864 Z M12,3.55271368e-14 C12.8284271,3.53749572e-14 13.5,0.671572875 13.5,1.5 L13.5,4 L10.5,4 L10.5,1.5 C10.5,0.671572875 11.1715729,3.56793164e-14 12,3.55271368e-14 Z" fill="#000000" opacity="0.3" />
													<path d="M12,10 C13.1045695,10 14,9.1045695 14,8 C14,6.8954305 13.1045695,6 12,6 C10.8954305,6 10,6.8954305 10,8 C10,9.1045695 10.8954305,10 12,10 Z M12,13 C9.23857625,13 7,10.7614237 7,8 C7,5.23857625 9.23857625,3 12,3 C14.7614237,3 17,5.23857625 17,8 C17,10.7614237 14.7614237,13 12,13 Z" fill="#000000" fill-rule="nonzero" />
												</g>
											</svg>
											<!--end::Svg Icon-->
										</span>
									</div>
									<div class="alert-text">The grouping indicator is added by the drawCallback function, which will parse through the rows which are displayed, and enter a grouping TR element where a new group is found. See official documentation
									<a class="font-weight-bold" href="https://datatables.net/examples/advanced_init/row_grouping.html" target="_blank">here</a>.</div>
								</div>
								<!--end::Notice-->
								<!--begin::Card-->
								<div class="card card-custom">

									<div class="card-body">
										<!--begin: Datatable-->
										<table class="table table-bordered table-checkable" id="kt_datatable" style="margin-top: 13px !important">
											<thead>
												<tr>
													<th>Contact ID</th>
													<th>Name</th>
													<th>Email</th>
													<th>Phone Number</th>
													<th>Message</th>
												</tr>
											</thead>
											<tbody>
											{% for i in contact %}
												<tr>
													<td>{{ i.id }}</td>
													<td>{{ i.name }}</td>
													<td>{{ i.email }}</td>
													<td>{{ i.phone_number }}</td>
													<td>{{ i.message }}</td>
												</tr>
											{% endfor %}
											</tbody>
										</table>
										<!--end: Datatable-->
										{% if contact.paginator.num_pages > 1 %}
											<div class="card-footer d-flex justify-content-end">
															<nav aria-label="Page navigation">
															  <ul class="pagination">
																{% if contact.has_previous %}
																  <li class="page-item">
																	<a class="page-link" href="?page={{ contact.previous_page_number }}">
																	  Previous
																	</a>
																  </li>
																{% endif %}
																{% for num in contact.paginator.page_range %}
																{% if num == contact.number %}
																<li class="page-item active">
																  <a class="page-link" href="#" tabindex="-1">{{ num }}</a>
																</li>
																{% elif num > contact.number|add:'-2' and num < contact.number|add:'2' %}
																<li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
																{% endif %}
																{% endfor %}
																{% if a.has_next %}
																<li class="page-item">
																  <a class="page-link" href="?page={{ contact.next_page_number }}">
																	Next
																  </a>
																</li>
																{% endif %}
															  </ul>
															</nav>
														  </div>
										{% endif %}
									</div>
								</div>
								<!--end::Card-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Entry-->
					</div>
					<!--end::Content-->
{% endblock %}