{% extends 'base.html' %}
{% block content %}
{% load i18n %}
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area ptb-60 ptb-sm-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul>
                        <li><a href="{% url 'index_url' %}">{% blocktrans %}Bosh sahifa{% endblocktrans %}</a></li>
                        <li class="active"><a href="{% url 'about_url' %}">{% blocktrans %}Biz haqimizda{% endblocktrans %}</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- About Main Area Start -->
        <div class="about-main-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 col-md-12">
						<div class="about-img">
							<img class="img" src="{{ about.img.url }}" alt="about-us" style="border-radius:30px;">
						</div>
					</div>
					<div class="col-lg-5 col-md-12">
						<div class="about-content">
							<h3>{{ about.title }}</h3>
							<p>{{ about.text }}</p> <br>
						</div>
					</div>
				</div>
			</div>
		</div>
       <!-- About Main Area End -->
{% endblock %}