{% extends 'base.html' %}
{% block content %}
<!-- Breadcrumb Start -->
        <div class="breadcrumb-area ptb-60 ptb-sm-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul>
                        <li><a href="{% url 'index_url' %}">{% blocktrans %}Bosh sahifa{% endblocktrans %}</a></li>
                        <li class="active"><a href="{% url 'my_profile_url' %}">{% blocktrans %}Profil{% endblocktrans %}</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- My Account Page Start Here -->
        <div class="my-account white-bg pb-60">
            <div class="container">
                <div class="account-dashboard">
                   <div class="dashboard-upper-info">
                       <div class="row no-gutters align-items-center">
                           <div class="col-lg-3 col-md-6">
                               <div class="d-single-info">
                                   <p class="user-name">Hello <span>{{ profile.username }}</span></p>
                                   <p><a href="{% url 'logout_url' %}">{% blocktrans %}Chiqish{% endblocktrans %}</a>)</p>
                               </div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                               <div class="d-single-info">
                                   <p>{{ profile.email }}</p>
                               </div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                               <div class="d-single-info">
                                   <p>{{ profile.phone_number }}</p>
                               </div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                               <div class="d-single-info text-center">
                                   <a class="view-cart" href="cart.html"><i class="fa fa-cart-plus" aria-hidden="true"></i>view cart</a>
                               </div>
                           </div>
                       </div>
                   </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <!-- Nav tabs -->
                            <ul class="nav flex-column dashboard-list" role="tablist">
                                <li><a class="active" data-toggle="tab" href="#dashboard">{% blocktrans %}Boshqaruv sahifasi{% endblocktrans %}</a></li>
                                <li><a data-toggle="tab" href="#">{% blocktrans %}Buyurtmalar{% endblocktrans %}</a></li>
                                <li><a data-toggle="tab" href="#">{% blocktrans %}Yuqlamalar{% endblocktrans %}</a></li>
                                <li><a data-toggle="tab" href="#">{% blocktrans %}Joylashuv{% endblocktrans %}</a></li>
                                <li><a data-toggle="tab" href="#">{% blocktrans %}Hisob{% endblocktrans %} details</a></li>
                                <li><a href="login.html" href="{% url 'logout_url' %}">{% blocktrans %}Chiqish{% endblocktrans %}</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-10">
                            <!-- Tab panes -->
                            <div class="tab-content dashboard-content mt-all-40">
                                <div id="dashboard" class="tab-pane active">
                                    <h3>{% blocktrans %}Boshqaruv sahifasi{% endblocktrans %}</h3>
                                    <p>From your account dashboard. you can easily check & view your <a href="#">recent orders</a>, manage your <a href="#">shipping and billing addresses</a> and <a href="#">edit your password and account details.</a></p>
                                </div>
                                <div id="orders" class="tab-pane fade">
                                    <h3>{% blocktrans %}Buyurtmalar{% endblocktrans %}</h3>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Order</th>
                                                    <th>Date</th>
                                                    <th>Status</th>
                                                    <th>Total</th>
                                                    <th>Actions</th>	 	 	 	
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>May 10, 2018</td>
                                                    <td>Processing</td>
                                                    <td>$25.00 for 1 item </td>
                                                    <td><a class="view" href="cart.html">view</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>May 10, 2018</td>
                                                    <td>Processing</td>
                                                    <td>$17.00 for 1 item </td>
                                                    <td><a class="view" href="cart.html">view</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="downloads" class="tab-pane fade">
                                    <h3>Downloads</h3>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Downloads</th>
                                                    <th>Expires</th>
                                                    <th>Download</th>	 	 	 	
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Proecut Name Here</td>
                                                    <td>May 10, 2018</td>
                                                    <td>never</td>
                                                    <td><a class="view" href="#">Click Here To Download Your File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Proecut Name Here</td>
                                                    <td>Sep 11, 2018</td>
                                                    <td>never</td>
                                                    <td><a class="view" href="#">Click Here To Download Your File</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="address" class="tab-pane">
                                    <p>The following addresses will be used on the checkout page by default.</p>
                                    <h4 class="billing-address">{% blocktrans %}Bino manzili{% endblocktrans %}</h4>
                                    <a class="view" href="#">edit</a>
                                    <p>steven smith</p>
                                    <p>Australia</p>   
                                </div>
                                <div id="account-details" class="tab-pane fade">
                                    <h3>Account details </h3>
                                    <div class="register-form login-form clearfix">
                                        <form action="{% url 'account_details_url' %}" method="post">
                                            {% csrf_token %}
                                            <div class="form-group row">
                                                <label for="f-name" class="col-lg-3 col-md-4 col-form-label" name="first_name">First Name</label>
                                                <div class="col-lg-6 col-md-8">
                                                    <input type="text" class="form-control" id="f-name">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="l-name" class="col-lg-3 col-md-4 col-form-label" name="last_name">Last Name</label>
                                                <div class="col-lg-6 col-md-8">
                                                    <input type="text" class="form-control" id="l-name">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="email" class="col-lg-3 col-md-4 col-form-label" name="email">Email address</label>
                                                <div class="col-lg-6 col-md-8">
                                                    <input type="text" class="form-control" id="email">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="newpassword" class="col-lg-3 col-md-4 col-form-label" name="password">New password</label>
                                                <div class="col-lg-6 col-md-8">
                                                    <input type="password" class="form-control" id="newpassword">
                                                    <button class="btn show-btn" type="button">Show</button>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="v-password" class="col-lg-3 col-md-4 col-form-label" name="confirm_password">Confirm password</label>
                                                <div class="col-lg-6 col-md-8">
                                                    <input type="password" class="form-control" id="c-password">
                                                    <button class="btn show-btn" type="submit">Show</button>
                                                </div>
                                            </div>
                                            <div class="register-box mt-40">
                                                <button type="submit" class="return-customer-btn f-right">{% blocktrans %}Saqlash{% endblocktrans %}</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- My Account Page End Here -->
{% endblock %}