{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<!-- Breadcrumb Start -->
        <div class="breadcrumb-area ptb-60 ptb-sm-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul>
                        <li><a href="{% url 'index_url' %}">{% blocktrans %}Bosh sahifa{% endblocktrans %}</a></li>
                        <li class="active"><a href="{% url 'my_profile_url' user.pk %}">{% blocktrans %}Profil{% endblocktrans %}</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- My Account Page Start Here -->
        <div class="my-account white-bg pb-60">
            <div class="container">
                <div class="account-dashboard">
                   <div class="dashboard-upper-info">
                       <div class="row no-gutters align-items-center">
                           <div class="col-lg-3 col-md-6">
                               <div class="d-single-info">
                                   <p class="user-name">Hello <span>{{ user.username }}</span></p>
                                   <p><a href="{% url 'logout_url' %}">{% blocktrans %}Chiqish{% endblocktrans %}</a>)</p>
                               </div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                               <div class="d-single-info">
                                   <p>{{ user.email }}</p>
                               </div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                               <div class="d-single-info">
                                   <p>{{ user.phone_number }}</p>
                               </div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                               <div class="d-single-info text-center">
                                   <a class="view-cart" href="{% url 'cart_url' user.pk %}"><i class="fa fa-cart-plus" aria-hidden="true"></i>view cart</a>
                               </div>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
        <!-- My Account Page End Here -->
{% endblock %}