{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<!-- Breadcrumb Start -->
        <div class="breadcrumb-area ptb-60 ptb-sm-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul>
                        <li><a href="{% url 'index_url' %}">{% blocktrans %}Bosh sahifa{% endblocktrans %}</a></li>
                        <li class="active"><a href="{% url 'my_profile_url' user.pk %}">{% blocktrans %}Profil{% endblocktrans %}</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- My Account Page Start Here -->
        <div class="my-account white-bg pb-60">
            <div class="container">
                <div class="account-dashboard">
                   <div class="dashboard-upper-info">
                       <div class="row no-gutters align-items-center">
                           <div class="col-lg-3 col-md-6">
                               <div class="d-single-info">
                                   <p class="user-name">Hello <span>{{ profile.username }}</span></p>
                                   <p><a href="{% url 'logout_url' %}">{% blocktrans %}Chiqish{% endblocktrans %}</a>)</p>
                               </div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                               <div class="d-single-info">
                                   <p>{{ user.email }}</p>
                               </div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                               <div class="d-single-info">
                                   <p>{{ user.phone_number }}</p>
                               </div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                               <div class="d-single-info text-center">
                                   <a class="view-cart" href="{% url 'cart_url' user.pk %}"><i class="fa fa-cart-plus" aria-hidden="true"></i>view cart</a>
                               </div>
                           </div>
                       </div>
                   </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <!-- Nav tabs -->
                            <ul class="nav flex-column dashboard-list" role="tablist">
                                <li><a class="active" data-toggle="tab" href="#dashboard">{% blocktrans %}Boshqaruv sahifasi{% endblocktrans %}</a></li>
                                <li><a data-toggle="tab" href="#">{% blocktrans %}Buyurtmalar{% endblocktrans %}</a></li>
                                <li><a data-toggle="tab" href="#">{% blocktrans %}Yuqlamalar{% endblocktrans %}</a></li>
                                <li><a data-toggle="tab" href="#">{% blocktrans %}Joylashuv{% endblocktrans %}</a></li>
                                <li><a data-toggle="tab" href="#">{% blocktrans %}Hisob{% endblocktrans %} details</a></li>
                                <li><a href="login.html" href="{% url 'logout_url' %}">{% blocktrans %}Chiqish{% endblocktrans %}</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-10">
                            <!-- Tab panes -->
                            <div class="tab-content dashboard-content mt-all-40">
                                <div id="dashboard" class="tab-pane active">
                                    <h3>{% blocktrans %}Boshqaruv sahifasi{% endblocktrans %}</h3>
                                </div>
                                <div id="address" class="tab-pane">
                                    <h4 class="billing-address">{% blocktrans %}Bino manzili{% endblocktrans %}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- My Account Page End Here -->
{% endblock %}