{% extends 'base.html' %}
{% load i18n %}
{% block content %}
        <div class="breadcrumb-area pt-60 pb-55 pt-sm-30 pb-sm-20">
            <div class="container">
                <div class="breadcrumb">
                    <ul>
                        <li><a href="index.html">{% blocktrans %}Bosh sihifa{% endblocktrans %}</a></li>
                        <li class="active"><a href="cart.html">{% blocktrans %}Karta{% endblocktrans %}</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- Cart Main Area Start -->
        <div class="cart-main-area pb-80 pb-sm-50">
            <div class="container">
               <h2 class="text-capitalize sub-heading">{% blocktrans %}kart{% endblocktrans %}</h2>
                <div class="row">
                    <div class="col-md-12">
                        <!-- Form Start -->
                        <form action="#">
                            <!-- Table Content Start -->
                            <div class="table-content table-responsive mb-50">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product-thumbnail">{% blocktrans %}Rasmalar{% endblocktrans %}</th>
                                            <th class="product-name">{% blocktrans %}Maxsulotlar{% endblocktrans %}</th>
                                            <th class="product-price">{% blocktrans %}Narxlar{% endblocktrans %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in basket %}
                                        <tr>
                                            <td class="product-thumbnail">
                                                <a href="#"><img src="{{ item.product.image.url }}" alt="cart-image" /></a>
                                            </td>
                                            <td class="product-name"><a href="#">{{ item.product }}</a></td>
                                            <td class="product-price"><span class="amount">{{ item.product.price }}</span></td>
                                            <td class="product-remove">
                                                <a href="{% url 'remove_cart_product_url' item.pk %}">
                                                    <i class="fa fa-times" type="reset" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- Table Content Start -->
                            <div class="row">
                               <!-- Cart Button Start -->
                                <div class="col-lg-8 col-md-7">
                                    <div class="buttons-cart">
                                        <a href="#">{% blocktrans %}Xarid kilishda davom eting{% endblocktrans %}</a>
                                    </div>
                                </div>
                                <!-- Cart Button Start -->
                                <!-- Cart Totals Start -->
                                <div class="col-lg-4 col-md-12">
                                    <div class="cart_totals">
                                        <h2>{% blocktrans %}Jami kartalar{% endblocktrans %}</h2>
                                        <br />
                                        <table>
                                            <tbody>

                                                <tr class="cart-subtotal">
                                                    <th>Subtotal</th>
                                                    <td><span class="amount">{{ subtotal }} So'm </span></td>
                                                </tr>
                                                <tr class="order-total">
                                                    <th>Total</th>
                                                    <td>
                                                        <strong><span class="amount">{{ total }} So'm</span></strong>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="wc-proceed-to-checkout">
                                            <a href="{% url 'checkout_url' user.pk %}">{% blocktrans %}To'lov{% endblocktrans %}</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Cart Totals End -->
                            </div>
                            <!-- Row End -->
                        </form>
                        <!-- Form End -->
                    </div>
                </div>
                 <!-- Row End -->
            </div>
        </div>

{% endblock %}