{% extends 'base.html' %}
{% block content %}
{% load static %}
        <!-- Slider Area Start -->
        <div class="slider-area slider-style-three">
            <div class="container">
                <div class="row">
                    {% for i in banner %}
                    <div class="col-md-8">
                        <div class="slider-wrapper theme-default">
                            <!-- Slider Background  Image Start-->
                            <div id="slider" class="nivoSlider">
                                <a href="shop.html"> <img src="{{ i.image.url }}" data-thumb="img/slider/5.jpg" alt="" title="#slider-1-caption1"/></a>
                            </div>
                            <!-- Slider Background  Image Start-->
                            <div id="slider-1-caption1" class="nivo-html-caption nivo-caption">
                                <div class="text-content-wrapper">
                                    <div class="text-content">
                                        <h1 class="title1 wow bounceInRight text-white mb-16" data-wow-duration="2s" data-wow-delay="1s">{{ i.title }}</h1>
                                        <div class="banner-readmore wow bounceInUp mt-35" data-wow-duration="2s" data-wow-delay="2s">
                                            <a class="button slider-btn" href="shop.html">Shop Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-md-4">
                         <!-- Single Banner Start -->
                        <div class="single-banner zoom mb-20">
                            {% for i in product1 %}
                            <a href="#"><img src="{{ i.image.url }}" alt="slider-banner"></a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Area End --> 
        <!-- Product Area Start -->
        <div class="product-area pt-30">
            <div class="container">
                <div class="row">
                    <!-- Single Product Start -->
                    {% for i in product2 %}
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-product">
                            <!-- Product Image Start -->
                            <div class="pro-img">
                                <a href="product.html">
                                    <img class="primary-img" src="{{ i.image.url }}" alt="single-product">
                                </a>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="pro-content">
                                <h4><a href="product.html">{{ i.title }}</a></h4>
                                <p><span class="price">{{ i.price }} so'm</span></p>
                                <div class="pro-actions">
                                    <div class="actions-secondary">
                                        <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                        <a class="add-cart" href="{% url 'add_basket_url' i.pk %}" data-toggle="tooltip" title="Add to Cart">Add To Cart</a>
                                        <a href="compare.html" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-signal"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Product Content End -->
                        </div>
                    </div>
                    {% endfor %}
                    <!-- Single Product End -->
                </div>
            </div>
        </div> 
        <!-- Product Area End -->
        <!-- Best Products Start -->
        <div class="best-seller-product pb-40">
            <div class="container">
                <div class="group-title">
                    <h2>Best Seller Products</h2>
                </div>
                <!-- Best Product Activation Start -->

                <div class="product-area pt-30">
                    <!-- Double Product Start -->
                    <div class="container">
                        <div class="row">
                        <!-- Single Product Start -->
                        {% for i in product3 %}
                        <div class="single-product">
                            <div class="pro-img">
                                <a href="product.html">
                                    <img class="primary-img" height="200" width="150" src="{{ i.image.url }}" alt="single-product">
                                </a>
                            </div>
                            <div class="pro-content">
                                <h4><a href="product.html">{{ i.title }}</a></h4>
                                <p><span class="price">{{ i.price }} so'm</span></p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Best Product End -->             
        <!-- Blog Page Start -->
        <div class="blog-area pb-60">
            <div class="container">
                <div class="group-title">
                    <h2>From The Blog</h2>
                </div>
                 <!-- Popular Categorie Activation Start -->
                 <div class="blog-active owl-carousel">
                    <!-- Single Blog Start -->
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="blog-details.html"><img src="{% static 'img/blog/1.jpg' %}" alt="blog-image"></a>
                        </div>
                        <div class="blog-content">
                                <h4 class="blog-title"><a href="blog-details.html">Lorem ipsum dolor sit amet, consectl adip elit, sed do eiusmod tempor</a></h4>
                            <div class="blog-meta">
                                <ul>
                                    <li><span>By: </span> <a href="#">Jantrik,</a></li>
                                    <li><span>On: </span> <a href="#">05 Nov, 2018</a></li>
                                </ul>
                            </div>
                            <div class="readmore">
                                <a href="blog-details.html">Read More.....</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog End -->
                    <!-- Single Blog Start -->
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="blog-details.html"><img src="{% static 'img/blog/2.jpg' %}" alt="blog-image"></a>
                        </div>
                        <div class="blog-content">
                                <h4 class="blog-title"><a href="blog-details.html">Lorem ipsum dolor sit amet, consectl adip elit, sed do eiusmod tempor</a></h4>
                            <div class="blog-meta">
                                <ul>
                                    <li><span>By </span> <a href="#">Jantrik, </a></li>
                                    <li><span>On </span> <a href="#">05 Nov, 2018</a></li>
                                </ul>
                            </div>
                            <div class="readmore">
                                <a href="blog-details.html">Read More.....</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog End -->
                    <!-- Single Blog Start -->
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="blog-details.html"><img src="{% static 'img/blog/3.jpg' %}" alt="blog-image"></a>
                        </div>
                        <div class="blog-content">
                                <h4 class="blog-title"><a href="blog-details.html">Lorem ipsum dolor sit amet, consectl adip elit, sed do eiusmod tempor</a></h4>
                            <div class="blog-meta">
                                <ul>
                                    <li><span>By </span> <a href="#">Jantrik, </a></li>
                                    <li><span>On </span> <a href="#">05 Nov, 2018</a></li>
                                </ul>
                            </div>
                            <div class="readmore">
                                <a href="blog-details.html">Read More.....</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog End -->
                    <!-- Single Blog Start -->
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="blog-details.html"><img src="{% static 'img/blog/1.jpg' %}" alt="blog-image"></a>
                        </div>
                        <div class="blog-content">
                                <h4 class="blog-title"><a href="blog-details.html">Lorem ipsum dolor sit amet, consectl adip elit, sed do eiusmod tempor</a></h4>
                            <div class="blog-meta">
                                <ul>
                                    <li><span>By </span> <a href="#">Jantrik, </a></li>
                                    <li><span>On </span> <a href="#">05 Nov, 2018</a></li>
                                </ul>
                            </div>
                            <div class="readmore">
                                <a href="blog-details.html">Read More.....</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog End -->
                    <!-- Single Blog Start -->
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="blog-details.html"><img src="{% static 'img/blog/2.jpg' %}" alt="blog-image"></a>
                        </div>
                        <div class="blog-content">
                                <h4 class="blog-title"><a href="blog-details.html">Lorem ipsum dolor sit amet, consectl adip elit, sed do eiusmod tempor</a></h4>
                            <div class="blog-meta">
                                <ul>
                                    <li><span>By </span> <a href="#">Jantrik, </a></li>
                                    <li><span>On </span> <a href="#">05 Nov, 2018</a></li>
                                </ul>
                            </div>
                            <div class="readmore">
                                <a href="blog-details.html">Read More.....</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog End -->
                    <!-- Single Blog Start -->
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="blog-details.html"><img src="{% static 'img/blog/3.jpg' %}" alt="blog-image"></a>
                        </div>
                        <div class="blog-content">
                                <h4 class="blog-title"><a href="blog-details.html">Lorem ipsum dolor sit amet, consectl adip elit, sed do eiusmod tempor</a></h4>
                            <div class="blog-meta">
                                <ul>
                                    <li><span>By </span> <a href="#">Jantrik, </a></li>
                                    <li><span>On </span> <a href="#">05 Nov, 2018</a></li>
                                </ul>
                            </div>
                            <div class="readmore">
                                <a href="blog-details.html">Read More.....</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog End -->
                 </div>
                 <!-- Popular Categorie Activation End -->
            </div>
            <!-- Container End -->
        </div>
        <!-- Blog Page End -->
{% endblock %}
