{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load i18n %}
        <!-- Slider Area Start -->
        <div class="slider-area slider-style-three">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="slider-wrapper theme-default">
                            <!-- Slider Background  Image Start-->
                            <div id="slider" class="nivoSlider">
                                <a href="shop.html"> <img src="{{ banner.img.url }}" data-thumb="{{ banner.img.url }}" alt="" title="#slider-1-caption1"/></a>
                            </div>
                            <!-- Slider Background  Image Start-->
                            <div id="slider-1-caption1" class="nivo-html-caption nivo-caption">
                                <div class="text-content-wrapper">
                                    <div class="text-content">
                                        <h1 class="title1 wow bounceInRight text-white mb-16" data-wow-duration="2s" data-wow-delay="1s">{{ banner.title }}</h1>
                                        <div class="banner-readmore wow bounceInUp mt-35" data-wow-duration="2s" data-wow-delay="2s">
                                            <a class="button slider-btn" href="shop.html">{% blocktrans %}Shop now{% endblocktrans %}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                         <!-- Single Banner Start -->
                        <div class="single-banner zoom mb-20">
                            {% for i in product1 %}
                            <a href="{% url 'single_product_url' i.pk %}"><img src="{{ i.image.url }}" alt="slider-banner"></a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Area End --> 
        <!-- Product Area Start -->
        <div class="product-area pt-30">
            <div class="container">
                <div class="row">
                    <!-- Single Product Start -->
                    {% for i in product2 %}
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-product">
                            <!-- Product Image Start -->
                            <div class="pro-img">
                                <a href="{% url 'single_product_url' i.pk %}">
                                    <img class="primary-img" src="{{ i.image.url }}" alt="single-product">
                                </a>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="pro-content">
                                <h4><a href="product.html">{{ i.title }}</a></h4>
                                <p><span class="price">{{ i.price }} so'm</span></p>
                                <div class="pro-actions">
                                    <div class="actions-secondary">
                                        <a href="{% url 'add_wishlist_url' i.pk %}" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                        <a class="add-cart" href="{% url 'add_basket_url' i.pk %}" data-toggle="tooltip" title="Add to Cart">{% blocktrans %}Kartaga ko'shish{% endblocktrans %}</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Product Content End -->
                        </div>
                    </div>
                    {% endfor %}
                    <!-- Single Product End -->
                </div>
            </div>
        </div> 
        <!-- Product Area End -->
        <!-- Best Products Start -->
        <div class="best-seller-product pb-40">
            <div class="container">
                <div class="group-title">
                    <h2>{% blocktrans %}Eng ko'p sotilgan maxsulotlar{% endblocktrans %}</h2>
                </div>
                <!-- Best Product Activation Start -->

                <div class="product-area pt-30">
                    <!-- Double Product Start -->
                    <div class="container">
                        <div class="row">
                        <!-- Single Product Start -->
                        {% for i in product3 %}
                        <div class="single-product">
                            <div class="pro-img">
                                <a href="{% url 'single_product_url' i.pk %}">
                                    <img class="primary-img" height="200" width="150" src="{{ i.image.url }}" alt="single-product">
                                </a>
                            </div>
                            <div class="pro-content">
                                <h4><a href="{% url 'single_product_url' i.pk %}">{{ i.title }}</a></h4>
                                <p><span class="price">{{ i.price }} so'm</span></p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Best Product End -->             
        <!-- Blog Page Start -->
        <div class="blog-area pb-60">
            <div class="container">
                <div class="group-title">
                    <h2>From The Blog</h2>
                </div>
                 <!-- Popular Categorie Activation Start -->
                 <div class="blog-active owl-carousel">
                     {% for i in blog %}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-blog">
                            <div class="blog-img">
                                <a href="{% url 'single_blog_url' i.pk %}"><img src="{{ i.image.url }}" alt="blog-image"></a>
                            </div>
                            <div class="blog-content">
                                    <h4 class="blog-title"><a href="{% url 'single_blog_url' i.pk %}">{{ i.title }}</a></h4>
                                <div class="blog-meta">
                                    <ul>
                                        <li><span>By: </span> <a href="#">{{ i.user.id }}</a></li>
                                        <li><span>On: </span>{{ i.date }}</li>
                                    </ul>
                                </div>
                                <div class="readmore">
                                    <a href="{% url 'single_blog_url' i.pk %}">Read More.....</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- Single Blog End -->

                 </div>
                 <!-- Popular Categorie Activation End -->
            </div>
            <!-- Container End -->
        </div>
        <!-- Blog Page End -->
{% endblock %}
