{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'style_1.css' %}" />
    <title>{% blocktrans %}Kirish va ro'yxatdan o'tish shakli{% endblocktrans %}</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="{% url 'login_url'%}" class="sign-in-form">
            {% csrf_token %}
            <h2 class="title">{% blocktrans %}Tizimga kirish{% endblocktrans %}</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" name="username" placeholder="Username" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" name="password" placeholder="Password" />
            </div>
            <input type="submit" value="Login" class="btn solid" />
          </form>
          <form action="{% url 'register_url' %}" class="sign-up-form">
            <h2 class="title">{% blocktrans %}Ro'yhadan o'tish{% endblocktrans %}</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" name="username" placeholder="Username" />
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" name="email" placeholder="Email" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" name="password" placeholder="Password" />
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="{% static 'app.js'%}"></script>
  </body>
</html>
