{% extends 'base.html' %}
{% block content %}
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area ptb-60 ptb-sm-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul>
                        <li><a href="{% url 'index_url' %}">Home</a></li>
                        <li><a href="{% url 'shop_url' %}">Shop</a></li>
                        <li class="active"><a href="{% url 'single_product_url' product.pk %}">Product</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- Product Thumbnail Start -->
        <div class="main-product-thumbnail pb-60">
            <div class="container">
                <div class="row">
                    <!-- Main Thumbnail Image Start -->
                    <div class="col-lg-5">
                        <!-- Thumbnail Large Image start -->
                        <div class="tab-content">
                            <div id="thumb1" class="tab-pane active">
                                <a data-fancybox="images" href="{{ product.image.url }}"><img src="{{ product.image.url }}" alt="product-view"></a>
                            </div>
                        </div>
                        <!-- Thumbnail Large Image End -->

                        <!-- Thumbnail Image End -->
                        <!-- Thumbnail image end -->
                    </div>
                    <!-- Main Thumbnail Image End -->
                    <!-- Thumbnail Description Start -->
                    <div class="col-lg-7">
                        <div class="thubnail-desc fix">
                            <h3 class="product-header">{{ product.title }}</h3>
                            <div class="pro-price mb-10">
                                <p><span class="price">{{ product.price }} So'm</span></p>
                            </div>
                            <div class="pro-ref mb-15">
                                <p><span class="in-stock">IN STOCK</span><span class="sku">{{ product.quantity }}</span></p>
                            </div>
                            <div class="box-quantity">
                                    <a class="add-cart" href="{% url 'add_basket_url' product.pk %}">add to cart</a>
                            </div>
                            <div class="product-link">
                                <ul class="list-inline">
                                    <li><a href="{% url 'add_wishlist_url' product.pk %}">Add to Wish List</a></li>
                                </ul>
                            </div>
                            <p class="ptb-20">{{ product.advert_text }}</p>
                        </div>
                    </div>
                    <!-- Thumbnail Description End -->
                </div>
                <!-- Row End -->
            </div>
            <!-- Container End -->
        </div>
        <!-- Product Thumbnail End -->
        <!-- Product Thumbnail Description Start -->
        <div class="thumnail-desc pb-60">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="main-thumb-desc nav">
                            <li><a class="active" data-toggle="tab" href="#dtail">Details</a></li>
                        </ul>
                        <!-- Product Thumbnail Tab Content Start -->
                        <div class="tab-content thumb-content border-default">
                            <div id="dtail" class="tab-pane in active">
                                <p>{{ product.product_info }}</p>
                                <h5>{{ product.product_create }}</h5>
                            </div>
                        </div>
                        <!-- Product Thumbnail Tab Content End -->
                    </div>
                </div>
                <!-- Row End -->
            </div>
            <!-- Container End -->
        </div>
        <!-- Product Thumbnail Description End -->
        <!-- Realted Product Start -->
        <div class="related-product pb-30">
            <div class="container">
                <div class="related-box">
                    <div class="group-title">
                        <h2>related product</h2>
                    </div>
                    <!-- Realted Product Activation Start -->

                        <div class="new-upsell-pro owl-carousel">
                            {% for i in product2 %}
                            <div class="single-product">
                                <!-- Product Image Start -->
                                <div class="pro-img">
                                    <a href="{% url 'single_product_url' i.pk %}">
                                        <img class="primary-img" src="{{ i.image.url }}" alt="single-product">
                                    </a>
                                </div>
                                <!-- Product Image End -->
                                <!-- Product Content Start -->
                                <div class="pro-content">
                                    <h4><a href="{% url 'single_product_url' i.pk %}">{{ i.title }}</a></h4>
                                    <p><span class="price">{{ i.price }} so'm</span></p>
                                    <div class="pro-actions">
                                        <div class="actions-secondary">
                                            <a href="{% url 'wishlist_url' i.pk %}" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                            <a class="add-cart" href="{% url 'add_basket_url' i.pk %}" data-toggle="tooltip" title="Add to Cart">Add To Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Product Content End -->
                            </div>
                             {% endfor %}
                        </div>
                    <!-- Realted Product Activation End -->
                </div>
            </div>
        </div>
{% endblock %}