{% extends 'base.html' %}
{% load i18n %}
{% block content %}
        <div class="breadcrumb-area pt-60 pb-55 pt-sm-30 pb-sm-25">
            <div class="container">
                <div class="breadcrumb">
                    <ul>
                        <li><a href="index.html">{% blocktrans %}Bosh sahifa{% endblocktrans %}</a></li>
                        <li class="active"><a href="wishlist.html">{% blocktrans %}Siz yoqtirgan maxsullotlar{% endblocktrans %}</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- Wish List Start -->
        <div class="cart-main-area wish-list pb-60">
            <div class="container">
                <!-- Section Title Start -->
                <h2 class="text-capitalize sub-heading">{% blocktrans %}Siz yoqtirgan maxsullot{% endblocktrans %}</h2>
                <!-- Section Title Start End -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- Form Start -->
                        <form action="#">
                            <!-- Table Content Start -->
                            <div class="table-content table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product-thumbnail">{%  blocktrans %}Rasm{% endblocktrans %}</th>
                                            <th class="product-name">{%  blocktrans %}Maxsulot{% endblocktrans %}</th>
                                            <th class="product-price">{%  blocktrans %}Jami narx{% endblocktrans %}</th>
                                            <th class="product-subtotal">{%  blocktrans %}Kartaga ko'shish{% endblocktrans %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in wishlist %}
                                        <tr>
                                            <td class="product-remove"> <a href="{% url 'remove_wishlist_product_url' i.pk %}"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                            <td class="product-thumbnail">
                                                <a href="{% url 'single_product_url' i.pk %}"><img src="{{ i.product.image.url }}" alt="cart-image" /></a>
                                            </td>
                                            <td class="product-name"><a href="{% url 'single_product_url' i.pk %}">{{ i.product.title }}</a></td>
                                            <td class="product-price"><span class="amount">{{ i.product.price }} So'm</span></td>
                                            <td class="product-stock-status"><span>in stock</span></td>
                                            <td class="product-add-to-cart"><a href="{% url 'add_basket_url' i.pk %}">{% blocktrans %}Kartaga ko'shish{% endblocktrans %}</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- Table Content Start -->
                        </form>
                        <!-- Form End -->
                    </div>
                </div>
                <!-- Row End -->
            </div>
        </div>
        <!-- Wish List End -->

{% endblock %}